@import '../old/variable.scss';

* {
  margin: 0;
  padding: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}
body {
  width: 100vw;
  height: 100vh;
  font-family: "Popins", sans-serif;
  font-size: 2rem;
  color: $adm-fontColor;
  background-color: $adm-background;
  user-select: none;
  overflow-x: hidden;
  justify-content: center;
}
.erro-wrap{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;

  img{
    width: 50%;
    max-width: 38.4rem;
  }
  .error-msn{
    max-width: 58.4rem;
    text-align: center;
    cursor: pointer;
    margin: 1rem;
    color: red;
  }

  .btns-wrap{
    display: flex;
    width: 80%;
    max-width: 38.4rem;
    justify-content: space-around;

    gap: 2rem;
    p{
      display: flex;
      align-items: center;
      gap: .2rem;
      padding: 1rem 2rem;
      margin-top: 1rem;
      background-color: $light-blue;
      border-radius: .9rem;
      
    }
    p:hover{
      background-color: $dark;
      cursor: pointer;
    }
  }
}