@import '../old/variable.scss';

.container{
  margin: 5rem auto;
  width: 96%;
  height: 80%;
  background-color: $dark-blue;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  .dev{
    font-family: Poppins, sans-serif;
    font-size: 1.2rem;
    img{
      border-radius: .9rem;
      object-fit: cover;
      width: 25rem;
      height: 25rem;
    }
    img:hover{
      content: url(../home/brambillajpeg.jpeg);
    }
    h2{
      margin-top: 1rem;
    }
    p{

    }
    .git{
      img{
        transform: translateY(25%);
        width: 2rem;
        height: 2rem;
      }
    }
    .git:hover{
      color: $font;
    }
  }
}
@media (max-width: 768px) {
  .container{
    flex-direction: column;
    height: 120%;

    .dev{

      img{
        border-radius: .9rem;
        object-fit: cover;
        width: 20rem;
        height: 20rem;
      }
    }
  }
}