@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap");
:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
}

.main-view-aula {
  background-color: rgb(13, 8, 72);
  height: 100%;
  margin: auto;
}

a {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.btn-atividade {
  margin: 2rem 0;
  padding: 0.8rem;
  display: flex;
  gap: 0.5rem;
  border-radius: 0.9rem;
  align-items: center;
  justify-content: center;
  text-align: left;
  border: 3px solid rgb(234, 245, 255);
  font-size: 1.4rem;
}
.btn-atividade:hover {
  color: rgb(234, 245, 255);
  background-color: #181a1e;
  font-weight: 700;
  border: 3px solid #181a1e;
  transition: all 0.3s ease;
}

.content {
  margin-top: 1rem;
  width: 100%;
  margin: auto;
  background-color: rgb(13, 8, 72);
}
.content .video-wrap {
  padding-top: 1rem;
  width: 100%;
  height: auto;
  margin: auto;
  padding-left: 2rem;
}
.content .text-content {
  max-width: 70rem;
  padding: 1rem 0.5rem 2.3rem 0.5rem;
  margin: auto;
}
.content .text-content .titulo-aula {
  width: min(75rem, 95%);
}
.content .text-content .desc-aula {
  width: min(75rem, 95%);
  font-size: 1.6rem;
}
.content .titulo-aula {
  font-size: 2.2rem;
}

.class-list {
  border-radius: 0.9rem;
  width: 100%;
  margin: auto;
  max-width: 45rem;
  background-color: #181a1e;
}

.video-playlist .title {
  padding: 0.5rem;
  font-size: 1.3rem;
}
.video-playlist {
  width: 100%;
  height: 30rem;
}
.video-playlist .main-video {
  width: 100%;
  height: 30rem;
}
.video-playlist .main-video .title {
  margin-top: 1rem;
}
.video-playlist .title {
  padding-left: 1rem;
}
.video-playlist > p {
  padding: 1rem;
  color: var(--secondary);
}
.video-playlist .videos {
  height: 80%;
  overflow-y: auto;
}
.video-playlist .videos::-webkit-scrollbar {
  width: 0.4rem;
  border-radius: 0.4rem;
  background-color: rgba(0, 0, 0, 0.3333333333);
}
.video-playlist .videos::-webkit-scrollbar-thumb {
  border-radius: 0.4rem;
  background-color: #fff;
}
.video-playlist .videos .video {
  position: relative;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  margin-top: 0.1rem;
  cursor: pointer;
  border-radius: 0.5rem;
}
.video-playlist .videos .video:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.video-playlist .videos .video.active {
  background-color: rgba(0, 0, 0, 0.2);
}
.video-playlist .main-video video {
  width: 100%;
  border-radius: 0.5rem;
}
.video-playlist .video img {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1.5rem;
  height: 1.5rem;
  filter: invert(100%);
}
.video-playlist .video img.active {
  filter: invert(100%) sepia(100%) saturate(2000%) hue-rotate(360deg);
}
.video-playlist .video p {
  margin-left: 2.5rem;
}
.video-playlist .video h3 {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font: 100 1.3rem sans-serif;
  padding: 0 0.5rem;
}

@media screen and (max-width: 990px) {
  .container {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 768px) {
  .main-view-aula {
    display: grid;
    grid-template-columns: 66% 33%;
    width: 100%;
    max-width: 1800px;
  }
  .main-view-aula .video-playlist {
    height: 90%;
  }
  .main-view-aula .video-playlist .title {
    padding: 1.5rem;
    font-size: 1.8rem;
  }
  .main-view-aula .content {
    height: 100%;
    position: relative;
    top: 0;
    background-color: rgb(13, 8, 72);
  }
  .main-view-aula .content .video-wrap {
    padding: 0;
    padding-left: 4%;
    height: 50.2rem;
  }
  .main-view-aula .content .text-content {
    align-items: left;
    margin: auto 2rem;
    text-align: left;
  }
  .main-view-aula .class-list {
    height: 100%;
    margin: 0;
  }
  .main-view-aula .class-list .videos {
    height: 100%;
  }
}
/* Hide the default checkbox */
input[type=checkbox] {
  display: none;
}

/* Create custom checkbox using pseudo-elements */
input[type=checkbox].custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid #ccc;
  margin-right: 10px;
  vertical-align: middle;
}

input[type=checkbox]:checked.custom-checkbox + label::before {
  content: "";
  font-size: 2rem;
  text-align: center;
  transition: all 300ms ease;
  transform: rotate(45deg);
  border-radius: 100%;
  background: rgb(19, 131, 200);
}

input[type=checkbox].checked {
  font-size: 2rem;
  text-align: center;
  transform: rotate(45deg);
  border-radius: 100%;
  background: rgb(19, 131, 200);
}/*# sourceMappingURL=view-curso.css.map */