@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap");
:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1154d8;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: rgb(234, 245, 255);
  width: 100%;
  height: 100vh;
}

main {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .page-text {
  text-align: center;
  margin: 0 3.5rem;
}
main .page-text h2 {
  font-weight: 800;
  font-size: 5.5rem;
  line-height: 6.7rem;
}
main .page-text p {
  max-width: 41.8rem;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 2.7rem;
}
main .gn-form {
  gap: 2rem;
  margin: 3rem;
  padding: 2.5rem;
  border: rgb(234, 245, 255) solid 3px;
  border-radius: 9px;
}
main .gn-form form span {
  font-size: 1.2rem;
}
main .gn-form form .submit-btn {
  color: rgb(234, 245, 255);
  font-size: 1.6rem;
  height: 3.9rem;
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  background: rgb(19, 131, 200);
  border: 0;
  border-radius: 8px;
  margin-top: 1.5rem;
}
main .gn-form form .submit-btn:hover {
  background-color: rgb(234, 245, 255);
}
main .gn-form form input {
  height: 3.9rem;
  border-radius: 9px;
  padding-left: 1rem;
  display: block;
}
main .gn-form form input + input {
  margin-top: 0.5rem;
}
main .gn-form form input::-moz-placeholder {
  font-size: 1rem;
  display: flex;
  justify-content: space-around;
}
main .gn-form form input:-ms-input-placeholder {
  font-size: 1rem;
  display: flex;
  justify-content: space-around;
}
main .gn-form form input::placeholder {
  font-size: 1rem;
  display: flex;
  justify-content: space-around;
}
main .gn-form form a {
  color: rgb(234, 245, 255);
  text-decoration: none;
  text-align: left;
  margin-left: 3px;
}
main .gn-form form a:hover {
  color: rgb(19, 131, 200);
}

@media (min-width: 1024px) {
  body {
    background-repeat: no-repeat;
    background-size: cover;
  }
  main {
    flex-direction: row;
    justify-content: space-evenly;
  }
  main .page-text {
    text-align: left;
    margin: 17.1rem 0 24.8rem 0;
  }
  main .page-text h2 {
    font-size: 7rem;
    line-height: 7.3rem;
  }
  main .page-text p {
    max-width: 34rem;
    margin-top: 7.5rem;
    font-size: 4rem;
    line-height: 4.8rem;
  }
  main .gn-form {
    width: 30rem;
  }
  main .gn-form form span {
    font-size: 2rem;
  }
  main .gn-form form .submit-btn {
    font-size: 3rem;
    line-height: 3.6rem;
    height: 7rem;
    width: 100%;
    -o-object-fit: fill;
       object-fit: fill;
    background: rgb(19, 131, 200);
    margin-top: 3.2rem;
  }
  main .gn-form form input {
    height: 7rem;
    width: 100%;
    width: 95%;
  }
  main .gn-form form input::-moz-placeholder {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
  }
  main .gn-form form input:-ms-input-placeholder {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
  }
  main .gn-form form input::placeholder {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
  }
  main .gn-form form input + input {
    margin-top: 1rem;
  }
}/*# sourceMappingURL=default-form.css.map */