

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap');

@import '../variable.scss';

$card-border-radius: 1rem;
$border-radius-1: 0.4rem;
$border-radius-2: 0.8rem;
$border-radius-3: 1.2rem;

$card-padding: 1.8rem;
$padding: 1.2rem;

$box-shadow: 0 2rem 2rem $light;


*{
  margin: 0;
  padding: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
}
body{
  width: 100vw;
  height: 100vh;
  font-family: Poppins, sans-serif;
  font-size: 2rem;
  color: $white;
  background-color: $adm-area-gray;
  user-select: none;
  overflow-x: hidden;
  justify-content: center;
}
a{
  color: $white;
}
img{
  display: block;
  width: 100%;
}
h1{
  font-weight: 800;
  font-size: 1.8rem;
}
h2{
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 2rem;
}
h3{
  font-size: 1.4rem;
}
h4{
  font-size: .8rem;
}
h5{
  font-size: .77rem;
}
small{
  font-size: .75rem;
}


.text-muted{
  color: $info-dark;
}

p{
  color: $dark-variant;
}
b{
  color: $dark;
}

.primary{
  color: $primary;
}
.sucess{
  color: $sucess;
}
.warning{
  color: $warning;
}
.mobile-nav{
  display: none;
}
.container{
  display: grid;
  width: 96%;
  gap: 1.8rem;
  grid-template-columns: 22.4rem auto;

  // .criar-curso
  .container-adm{
    height: 100vh;
    overflow-y: scroll;
    padding-bottom: 2rem ;
    h1 {
      font-size: 3rem;
      color: rgba(14, 131, 214);
    }

    p {
      color: $white;
    }
  }
}

aside{
  position: sticky;
  height: 100vh;
  background-color: $background;

  .top{
    background-color: $background;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
    gap: 1rem;
  }

  .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    margin-left: 1rem;
    img{
      width: 3rem;
      height: inherit;
    }
  }

  .close{
    display: none;
  }

  .sidebar{
    background: $background;
    display: flex;
    position: relative;
    flex-direction: column;
    height: 86vh;
    top: 3rem;

    a{
      display: flex;   
      color: $info-dark;
      margin-left: 2rem;
      gap: 1rem;
      align-items: center;
      position: relative;
      height: 3.7rem;

      span{
        font-size: 1.8rem;
        transition: all 300ms ease;
      }

      &:last-child{
        position: absolute;
        bottom: 2rem;
        width: 100%;
      }
      
      &.active{
        background: $light;
        color: $font;
        margin-left: 0;
        
        &::before{
          content: '';
          width: 6px;
          height: 100%;
          background: $font ;
        }
      
        span{
          color: $font;
          margin-left: calc(1rem - 3px);
        } 
  
      }

      &:hover{
        color: $font;
        span{
          margin-left: 1rem;
        }
      }
    }
  }

  h3{
    font-weight: 500;
  }

}

@media (max-width: 950px) {
  .container {
    width: 96%;
    grid-template-columns: 6.4rem auto;
    //Área da side bar
    aside {
      width: 100%;
     .top{
      justify-content: center;
     }
      .logo{

        margin: auto;
      }
      h2 {
        display: none;
      }

      h3 {
        display: none;
      }


    }
  }
}

@media (max-width: 600px) {

  .not-in-display{
    display: none;
  }

  .container{
    display: flex;
    flex-direction: column;
    align-self: auto;
    width: 100%;
    grid-template-columns: 0 0;
    margin: auto;

    aside {
      width: 25%;
      position: fixed;
      left: 0;
      background: $background;
      width: 18rem;
      z-index: 50;
      box-shadow: 1rem 3rem 4rem $light;
      height: 100vh;
      padding-right: $card-padding;
      display: none;
      transition: all 300ms ease;

      .top{
        justify-content: normal;
        .close{
          display: flex;
          align-items: center;
        }
       }
      .logo{
        margin: 0 .5rem;
      }
      h2{
        display: block;
      }
    }
  }
  .mobile-nav{
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: $background;
    // margin-bottom: 6vh;
    height: 6vh;
    .wrapper{
      display: flex;
      justify-content: space-between;
      width: 96%;

      span{
        color: $white;
      }
      .logo{
        display: flex;
        justify-content: center;
        gap: 0.8rem;
        margin-left: 1rem;
        img{
          width: 3rem;
          height: inherit;
        }
      }
    
      .logo-wrap{
        display: flex;
        flex-direction: row;
        color: $white;
      }

    }
  }

  aside{
    position: fixed;
    left: 0;
    background: $background;
    width: 18rem;
    z-index: 0;
    box-shadow: 1rem 3rem 4rem $light;
    height: 100vh;
    padding-right: $card-padding;
    display: none;

    transition: all 300ms ease;

    .logo{
      margin-left: 1rem;
      
    }
    h2{
      display: inline;
    }
    
    .sidebar{
      h3{
      display: inline;
      }

      a{
        width: 100%;
        height: 3.4rem;

        &:last-child{
          position: absolute;
          bottom: 5rem;
        }

      }
    }

    .close{
      display: inline-block;
      cursor: pointer;
    }
  }

  .criar-curso{
    margin: auto;
    width: 96%;
    padding: 1rem 1rem 1rem 1.5rem;
    p{
      color: $white;

    }
  }


}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin: auto 0;
  table{
    background: $white;
    border-radius: .9rem;
    padding: $card-padding;
    text-align: center;
    box-shadow: $box-shadow;
    transition: all 300ms ease;
    height: auto;
    width: 96%;
    color: $dark;
    margin: 1rem auto auto auto;
  //  thead{
  //   // display: none;
  //  }
   
  tbody {
    text-align: center;

    tr:hover {
      border-radius: .9rem;
      background-color: $info-dark;
    }

    .td-sideways {
      min-height: 5rem;
      margin-left: 1rem;
      gap: .8rem;
    }

    tr {
      .options {
        a {
          color: $font;
          &:hover {
            color: $dark;
          }
        }
      }
    }
  }
  }
}

.search {
    width: 96%;
    position: relative;
    display: flex;
    box-shadow: 0 .5rem .5rem $light;
}
  
.searchTerm {
    width: 100%;

    border: 3px solid $dark;
    border-right: none;
    padding: 5px;
    height: 3.6rem;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}
  
.searchTerm:focus{
    color: #a9d2bf;
}
  
.searchButton {

    width: 40px;
    height: 36px;
    border: 3px solid $dark;

    background: $dark;
    text-align: center;
    color: #fff;
    border-radius: 0 9px 9px 0;
    cursor: pointer;
    font-size: 2rem;
}

// CADASTRO DE CURSOS
.cadastro-curso {
  .submit-btn {
    display: block;
    width: min(75rem, 96%);
    height: 5rem;

    margin: 2.5rem auto;
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: $white;

    background-color: $light-blue;

    border-radius: .9rem;

  }

  .text-editor {
    font-size: 2rem;
    max-width: min(75rem, 96%);
    margin: auto;

    p {
      font-size: 1.5rem;
      color: $font;
      margin-bottom: 2rem;
    }

    .txt-title {
      font-size: 2rem;
      color: $white;
      margin: 2rem 0 0 0;
    }
  }

  .lb-title {
    display: flex;
    flex-direction: column;
    max-width: min(75rem, 96%);
    margin: auto;
    padding-bottom: 1.8rem;

    font-size: 2rem;

    input[type="text"] {
      color: $white;
      min-height: 2.5rem;
      background-color: $dark;
      border-radius: .9rem;
      padding-left: 1rem;
    }

  }
}
