
@import '../variable.scss';


body{
  background-image: radial-gradient( circle 610px at 5.2% 51.6%,  $vivid-blue 0%, $bg-dark-blue 97.5% );

  main{
    margin: 2.7rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

    .last-class{
      cursor: pointer;
      position: relative;
      width: 100%;
      background-color: $gray-blue;
      margin-bottom: 1.4rem;
      padding: 2rem;

      align-items: center;
      text-align: center;

      border: .3rem solid $white;
      border-radius: .9rem;
      box-shadow: 0 .4rem .4rem rgba(0, 0, 0, 0.25);
      
      .curso-logo{
        position: relative;
        img{
          object-fit: cover;
          width: 8.3rem;
          height: 8.3rem;

        }
        .play-btn{
          width: 50px;
          height: 50px;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          
        }
      }
      
      .title{
        margin-top: 1.5rem;
        font-weight: 600;
        font-size: 2.2rem;
        line-height: 2.6rem;
      }
      

      &:hover ~ .play-btn{
        display: flex;

      }
    }
    
    .last-course{
      position: relative;

      background-color: $last-course;

      border-radius: .9rem;
      border: .3rem solid $white;


      width: 33.5rem;
      height: 26.6rem;
      margin: 0 .5rem 1.6rem .5rem ;

      img{
        width: auto;
        height: auto;
        position: absolute;
        z-index: 2;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .avisos{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      background-color: $last-course;
      margin: 0 .5rem;
      width: 33.5rem;
      height: 26.6rem;
      
      border-radius: .9rem;
      border: .3rem solid $white;
      
      justify-content: center;
      padding: 2.5rem;
      .title{
        font-weight: 600;
        font-size: 2.8rem;
      }
      .desc{
        font-size: 1.8rem;
        
        text-align: left;
      }
    }


  }
}

@media (min-width: 768px) {
  body{
    main{
      max-width: 109rem;
      margin: 5rem auto;
  
      .last-class{
        margin-bottom: 1.4rem;
        padding: 2rem;
  
        align-items: center;
        text-align: center;
  
        border: .3rem solid $white;
        border-radius: .9rem;
        box-shadow: 0 .4rem .4rem rgba(0, 0, 0, 0.25);
        
        .curso-logo{
          position: relative;
          img{
            object-fit: cover;
            width: 8.3rem;
            height: 8.3rem;
  
          }
          .play-btn{
            width: 50px;
            height: 50px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            
          }
        }
        
        .title{
          margin-top: 1.5rem;
          font-weight: 600;
          font-size: 2.2rem;
          line-height: 2.6rem;
        }
        
  
        &:hover ~ .play-btn{
          display: flex;
  
        }
      }
      
      .last-course{
        position: relative;
        margin: 0 0 0 0px;
        background-color: $last-course;
  
        border-radius: .9rem;
        border: .3rem solid $white;
  
        width: 52.9rem;
  
        height: 26.6rem;
        margin: 0 .5rem 1.6rem .5rem ;
  
        img{
          width: auto;
          height: auto;
          position: absolute;
          z-index: 2;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
  
      .avisos{
        width: 52.9rem;
        border-radius: .9rem;
        border: .3rem solid $white;
        
        justify-content: center;
        padding: 2.5rem;
        .title{
          font-weight: 600;
          font-size: 2.8rem;
        }
        .desc{
          font-size: 1.8rem;
          
          text-align: left;
        }
      }
  
  
    }
  }
}


