main.main-list-curso{
    align-items: flex-start; 
}

.main-list-curso .cursos-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-left: 1.8%;
  }

.main-list-curso .curso {
  height: 22rem;
  width: 22rem;
  flex-direction: column;
  margin: 2rem;
  
  background-color: #1F2A40;
  color: #e0e0e0;
  text-align: left;
  cursor: pointer;
  overflow: hidden;
}

.main-list-curso .curso h2 {
  padding: 0 1rem;
  max-width: 100%;
  margin: 0.5rem 0;
  font-size: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main-list-curso .curso .sub-titulo-list {
  max-height: 1.6rem;
  max-width: 100%;
  padding: 0 1rem;
  font-size: 1.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main-list-curso .curso .visit-btn {
  display: flex;
  align-items: center;
  text-align: center;
  height: 10%;
  margin-top: auto;
  margin-bottom: 1rem;
  justify-content: center;
}

.main-list-curso .curso .visit-btn a {
  background-color: #3e4396;
  border-radius: 0.9rem;
  font-size: 1.3rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  padding: 1rem;
  width: 90%;
}

.main-list-curso .curso img {
  height: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
}


@media screen and (max-width: 950px) {
  .main-list-curso .cursos-wrapper {
    align-items: center;
  }

  /* .main-list-curso .curso{
    flex-basis: 42.3%;
  } */

  .main-list-curso .curso .sub-titulo-list {
      margin-left: 1%;
      margin-top: 1%;
      padding-left: 0%;
  }
}

@media screen and (max-width: 577px) {
  .main-list-curso .cursos-wrapper{
    justify-content: center;
  
  }


  .pesquisa .searchTerm{
    width: 80%;
  }

  
}
