@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');
@import '../../../variable.scss';



.titulo {
  padding-top: 1%;
  padding-left: 3%;
  width: 100%;
  text-align: left;
}
.titulo-form{
  font-size: 3rem;
  margin: 2rem 0;
}
div::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.main-criar-aula{
  margin: auto;
}
.curso-shower{
  background-color: $background;
  padding: 1.5rem;
  img{
    padding: 1rem 0;
    margin: auto;
    width: 22rem;
    height: 22rem;
    object-fit: cover;
  }
  .titulo-curso{
    font-size: 2rem;
    margin: 1rem 0 .5rem 0;
  }
  .subtitulo-curso{
    font-size: 1.8rem;
    color: $font;
  }

  .btns-aula{
    display: flex;
    justify-content: flex-end;
    align-items:center;
    width: 100%;
    margin-top: 2rem;
    gap: 1rem;
    .btn-aula{
      display: flex;
      // border: 2px solid $white;
      border-radius: .9rem;
      padding: .5rem;
      align-items: center;
      gap: .5rem;
      a{
        display: flex;
        align-items: center;
      }
      transition: all 300ms ease;

    }
    .btn-aula:hover{
      transition: all 300ms ease;
      background-color: $light-blue;
      border-radius: .9rem;
      padding: .5rem;
      cursor: pointer;
    }
    .btn-aula-excluir{
      display: flex;
      // border: 2px solid $white;
      border-radius: .9rem;
      padding: .5rem;
      align-items: center;
      gap: .5rem;
      a{
        display: flex;
        align-items: center;
      }
      transition: all 300ms ease;

    }
    .btn-aula-excluir:hover{
      transition: all 300ms ease;
      background-color: rgb(230, 36, 43);
      border-radius: .9rem;
      padding: .5rem;
      cursor: pointer;
    }
   
    
  }
}

.btn-atv{
  display: flex;
  justify-content: flex-end;
  padding: .5rem;
  width: auto;
  border-radius: .9rem;
  a{
    width: fit-content;
  }
  span{
    border-radius: .3rem;

    transition: all 300ms ease;
  }

  span:hover{
    transition: all 300ms ease;
    background-color: rgb(230, 36, 43);
    border-radius: .9rem;
    padding: .5rem;
    cursor: pointer;
  }
}

.aulas-wrapper{
  margin: 2.3rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  .aula{
    width: min(102rem, 100%);
    padding:1.5rem;
    background-color: $background;
    cursor: pointer;
    .titulo-curso{
      font-size: 2rem;
      margin: 1rem 0 .5rem 0;
    }
    .subtitulo-curso{
      font-size: 1.8rem;
      color: $font;
    }
    .num-atv{
      font-size: 1.8rem;

      margin-top: 1rem;
    }
  }
}






// MODAL FORM
.inputBox {
  position: relative;
  margin-bottom: 5%;

  input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background-color: transparent;
    border: none;
    outline: none;
    color: $adm-fontColor;
    font-size: 1em;
    letter-spacing: 0.05;
    z-index: 10;
  }
  input[type="file"] {
    border: none;
    border-radius: .4rem;
    box-sizing: border-box;
  }
  

  span {
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    font-size: 2.2rem;
    color: $adm-fontColor;
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: 0.5s;
  }

  input:valid~span,
  input:focus~span {
    color: $adm-fontColor;
    transform: translateX(-10px) translateY(-34px);
    font-size: 0.75em;
  }

  i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: $adm-secundary;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
  }

  input:valid~i,
  input:focus~i {
    height: 44px;

  }
}
.txt-title{
  font-size: 2.2rem;
  color: $adm-fontColor;
  margin-bottom: 1%;
}

.descricao{
  font-size: 1.6rem;
  color: $font;
}
.submit-btn{
  margin-top: 3rem;
  font-size: 1.8rem;
  color: $adm-fontColor;
  border-radius: .9rem;
  padding: 2rem;
  width: 100%;
  background-color: $primary-variant;
  transition: all 400ms ease;
}

.submit-btn:hover{
  margin-top: 3rem;
  font-size: 1.8rem;
  color: $adm-fontColor;
  border-radius: .9rem;
  padding: 2rem;
  width: 100%;
  background-color: $dark;
  cursor: pointer;
}



// MODAL CSS
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content-conf{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  height: fit-content;
  overflow-y: auto; /* Add a scrollbar for the y-axis */
  background: $adm-background;
  margin: 0;
  padding: 0; 
  transition: all 500ms ease;
}
.btns-curso-conf{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  gap: 6%;
  margin: 1rem 0 2rem 0;
  font-weight: 600;
  font-size: 1.7rem;
  transition: all 500ms ease;

  .btn-aula-excluir{
    display: flex;
    justify-content: center;
    gap: 5%;
    border-radius: .9rem;
    background-color: $red;
    padding: 1rem;
    align-items: center;
    transition: all 500ms ease;
    width: 7.2rem;
    span{
      transition: all 500ms ease;
    }
    &:hover{
      width: 8.1rem;
      background-color: rgb(126, 29, 29);
      span{
        transition: all 500ms ease;
        padding: 1rem;
      }
      p{
        display: none;
      }
    }
  }

  .undo-conf{
    display: flex;
    justify-content: center;
    gap: .6rem;
    border-radius: .9rem;
    background-color: $light-blue;
    padding: 1rem;
    align-items: center;
    transition: all 500ms ease;
    width: 7.2rem;

    span{
      transition: all 500ms ease;
    }
    p{
      transition: all 500ms ease;

    }
    &:hover{
      width: 8.1rem;
      background-color: $dark;
      cursor: pointer;
      transition: all 500ms ease;
      span{
        transition: all 500ms ease;
        padding: 1rem;
      }
      p{
        display: none;
      }
    }
  }
}


.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 82rem;
  height: 80%;
  overflow-y: auto; /* Add a scrollbar for the y-axis */
  background: $adm-background;
  margin: 0;
  padding: 0; 
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 5rem;
  
  max-height: 100%; /* Set the maximum height for the modal body */
  overflow-y: auto; /* Add a scrollbar for the y-axis */
  transition: all 500ms ease;

  .close-btn {
    position: absolute;
    top: .7rem;
    right: 2rem;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
}


.close-btn:hover,
.close-btn:focus {
  color: $white;
  text-decoration: none;
  cursor: pointer;
}




#file-drop-area {
  width: 100%;
  height: 10rem;
  border: 2px dashed #ccc;
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#file-drop-area.drag-over {
  border-color: #555;
}

#file-input {
  display: none;
}

label[for="file-input"] {
  cursor: pointer;
}



@media screen and (max-width: 650px) {
  .modal-body {
    padding: 2rem;
  }
  .inputBox span{
    font-size: 1.8rem;
  }
}


@media screen and (min-width: 577px) {
  .curso-shower{
    background-color: $adm-secundary ;
    display: flex;
    max-width: 102rem;
    gap: 2rem;
    img{
      margin: 0;
    }
    .txt-wrap{
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: space-between;
    }

  }
}

.file-inpt {
  input
  [type="file"] {
    height: 0;
    overflow: none;
    width: 0;
  }
} 


.file-inpt[type="file"] + label {
  background-color: darken($dark, 20%);

  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
	font-family: 'Rubik', sans-serif;
	font-size: inherit;
  font-weight: 500;
  margin-bottom: 1rem;
  outline: none;
  padding: 1rem 50px;
  position: relative;
  transition: all 0.3s;
  vertical-align: middle;
  width: 50%;
  
  &:hover {
    background-color: darken($dark, 10%);
  }
}
